body {
    background-color: #04405f;
    color: #fff;
}

.btn-secondary {

    color: #fff;
    background-color: #0488bf;
    border-color: #0488bf;

}

.btn-secondary:hover {

    color: #000;
    background-color: #fff;
    border-color: #fff;

}

code {
    /*
    font-size: 87.5%;
    color: #ff3333;
    word-break: break-word;
    font-family: monospace;
    white-space: pre;
    */
    border-radius: 5px;
    background: #101010;
    margin:25px;
    padding:15px;
}